.mainLogo {
    width: 60%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 5% 5%;
    justify-content: center;
}

h1, #description {
    padding: 0;
    margin: 0 50px;
}

#calendar {
    width: 100%;
    margin: 15px 0;
}
.calendarBtns {
    padding: 10px 0;
    width: 80%; 
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.calendarBtns button{
    padding: 6px 6px;
    font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #86aacc;
    border: none;
    color: white;
}

.calendarDiv {
    display: none;
}

.semanas {
    display: none;
    width: 100%;
}

#semanaNo_1{
    display: table-row;
    width: 100%;
}

#calendarGrid_1{
    display: block;
}

.calendarTable{
    width: 80%;
    align-items: center;
    box-sizing: border-box;
}

.calendarTable thead tr th{
    background: #0085FF;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 76px;
}
.calendarTable tr td {
    border: 1px solid blanchedalmond;
    background-color: rgb(177, 177, 211);
    height: fit-content;
}

#dayCell {
    margin: 0;
    padding: 2px;
    height: fit-content;
}

#dayDisplay {
    text-align: right;
    font-size: 16px;
}

#cellContent {
    width: 90%;
    display: grid;
    height: fit-content;
}

#scheduler {
    height: fit-content;
    display: grid;
    grid-template-columns: 30px auto;
    grid-row: auto;
    background-color: #B1B1D3; 
    gap: 3px 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;

}

.emptySlot {
    background: #fdfdfd6b;
    color: black;
    text-align: start;
    height: fit-content;
    width: 90%;
    margin: 0px 5px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.emptySlot:hover {
    background-color: tomato;
}


.semanas:first-child {
   border: 50px solid red;
  }

.weekBtns {
    text-align: center;
}

.weekBtns button{
font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #86aacc;
    border: none;
    color: white;
}

footer {
    font-size: 12px;
    text-align: center;
}