body {
    font-family: 'Open Sans', sans-serif;
}

#calendar {
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
}
.calendarBtns {
    padding: 10px 0;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.calendarBtns button{
    padding: 6px 6px;
    font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #86aacc;
    border: none;
    color: white;
}

.calendarDiv {
    display: none;
}

#calendarGrid_1{
    display: block;
}

.calendarTable{
    width: 100%;
    padding: 0 5%;
    align-items: center;
}

.calendarTable thead tr th{
    background: #0085FF;
    padding: 20px 5px;
    color: white;
    border-radius: 5px;
    width: 76px;
}
.calendarTable tr td {
    padding: 5px 0;
    cursor: pointer;
    border: 1px solid blanchedalmond;
    background-color: rgb(177, 177, 211);
    height: auto;
}

#dayCell {
    margin: 0;
    padding: 2px;
}

#dayDisplay {
    text-align: right;
    font-size: 12px;
}

#cellContent {
    border: 1px solid red;
    width: 90%;
    height: 4em;
}

.weekBtns {
    text-align: center;
}

.weekBtns button{
font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #86aacc;
    border: none;
    color: white;
}

footer {
    font-size: 12px;
    text-align: center;
}