body {
    font-family: 'Open Sans', sans-serif;
}

#calendar {
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
}
.calendarBtns {
    padding: 10px 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.calendarBtns button{
    padding: 6px 6px;
    font-size: 12px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #3d6891;
    border: none;
    color: white;
}

.calendarDiv {
    display: none;
}

#calendarGrid_1{
    display: block;
}

.calendarTable{
    width: 100%;
    padding: 5%;
    align-items: center;
}

.calendarTable thead tr th{
    background: #0085FF;
    padding: 20px 5px;
    color: white;
    border-radius: 5px;
}
.calendarTable tr td {
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    border: 1px solid blanchedalmond;
    background-color: rgb(177, 177, 211);
}

footer {
    font-size: 12px;
    text-align: center;
}